<h5>Available Devices</h5>

<table class="table w-auto">
    <thead class="text-center">
        <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let device of mydevices" >
            <ng-container *ngIf="device.available==true">
                <td scope="row">{{device.sn}}</td>
                <td>{{device.description}}</td>
                <td>{{device.type}}</td>
                <td> <input class="form-check-input" type="radio" name="select" (click)="senddevice(device)"></td>
            </ng-container>
        </tr>
    </tbody>
</table>